<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="/assets/product-list.js"></script>
<script>
    var removeTask = function(id){
        // var text1 = $("#"+id).children()[0].innerText;
        var text1= document.getElementById(id).children.item(0).innerText;
        $.ajax({
            type:'DELETE',
            url:'/backlog/'+ text1,
            success: function(data){
                location.reload();
            }
        });
}
var sendTask = function(id){
        var text2 = document.getElementById(id).children.item(0).innerText;
        var cartitem={item: text2};
        $.ajax({
            type:'POST',
            url:'/cart',
            data:cartitem,
            success: function(data){
                location.reload();
            }
        });
}


</script>
<link rel="stylesheet" href="/assets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <!-- <div class="logo" >
        
           
        </div> -->
        <ul class="nav-links">
            <li><a href="/backlog" >To Do Application</a></li>
           
            <li><a href="/backlog" >Tasks</a></li>
           
           <li> <a href="/cart"><i class="fa fa-bell" style="font-size:30px;color:#0088a9"></i></a></li>
           
          
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
 
   
<div class="container">

    <div id="todo-table">
        <form method="POST">
            <input type="text" name="item" placeholder="Add New Task" required/>
            <button type="submit">+ Add Task</button>
        </form>
        <br>
        <br>
      
        <ul id="ulo">
            <% for(var i=0;i<list.length ; i++){%>
               
             <!-- <a href="#" class="btn btn-info btn-lg" style="width: 50%;" >
              <span class="	glyphicon glyphicon-trash"> </span>  <li class="remove" ><%= list[i].tasks_name %></li>  </a>
                   
                  
                  <a href="#" class="btn btn-info btn-lg" style="width: 49%;">
                    <span class="	glyphicon glyphicon-bell"> </span>  <li class="acart"><%= list[i].tasks_name %></li>  </a>
           
                    <hr> -->
                   <div  id='<%=i%>'>
                   
                        <li class="listitem  btn btn-warning" style="width: 50%;"><%= list[i].tasks_name %></li> 
                   
                         <li class="remove btn btn-danger" style="width: 20%;" onclick="removeTask('<%=i%>')">Completed</li>   
                       
                            <li class="remainder btn btn-info btn-lg" style="width: 20%; " onclick="sendTask('<%=i%>')" >Important</li> 
                        </div>

                   
                   


               
            <%}%>
         


          


         </ul>
    </div>
   


</div>








   
    <script src="/assets/style.js"></script>
      
    
</body>
</html>